@page "/horloge" 
 
<h1>Bonjour !</h1> 
<p>Il est @_date</p> 
 
@code { 
    private DateTime _date = DateTime.Now; 

    protected override void OnInitialized()  
    {  
        Task.Run(async () =>  
        {  
            while (true)  
            {  
                await InvokeAsync(() => _date = DateTime.Now);  
                StateHasChanged();  
                await Task.Delay(1000);  
            }  
        });  
    } 

}
